{"openapi":"3.0.1","info":{"title":"Eelep Kal API","description":"Документация API","version":"1.0"},"servers":[{"url":"https://eelepkal.com","description":"Production Server"},{"url":"https://staging.eelepkal.com","description":"Staging Server"},{"url":"http://localhost:8080","description":"Local Development Server"}],"security":[{"Bearer Token":[]}],"tags":[{"name":"Client - Venue","description":"API - Заведения для клиента"},{"name":"Admin - Promo","description":"API - Промокоды для клиента"},{"name":"Developer - Category","description":"API Категорий меню для разработчика"},{"name":"Admin - Notification","description":"API Уведомления для админа"},{"name":"Client - Notification","description":"API Уведомления для клиента"},{"name":"Client - Promo","description":"API - Промокоды для клиента"},{"name":"Guest - Venue","description":"API - Заведения для гостя"},{"name":"Developer - Table Amenities","description":"API услуги и удобства для столов для разработчика"},{"name":"Developer - Notification","description":"API типы уведомления для разработчика"},{"name":"Guest - Promo","description":"API - Промокоды для гостя"},{"name":"SuperAdmin - Venue","description":"API - Заведения для супер администратора"},{"name":"Developer - Cuisine","description":"API Города для разработчика"},{"name":"Client - Booking Conditions","description":"API Условия Бронирования для клиента"},{"name":"SuperAdmin - SuperAdmin","description":"API Супер админа для супер админа"},{"name":"Guest - Menu","description":"API Меню заведения для гостя"},{"name":"Developer - Unit","description":"API единицы измерения для разработчика"},{"name":"Developer - Table Type","description":"API Типы стола для разработчика"},{"name":"Developer - Event Type","description":"API Причины отмены бронирования для разработчика"},{"name":"Guest - Booking Conditions","description":"API Условия Бронирования для гостя"},{"name":"Client - Menu","description":"API Меню заведения для клиента"},{"name":"Auth","description":"API - Авторизация и аутентификация"},{"name":"Admin - Booking","description":"API для управления бронированиями администратора"},{"name":"Developer - Venue Amenities","description":"API услуги и удобства для разработчика"},{"name":"Super Admin - Feedback","description":"API - Отзывы для супер админа"},{"name":"AWS S3","description":"Api для работы с AWS"},{"name":"Admin - Venue","description":"API - Заведения для админа"},{"name":"Developer - Reason","description":"API Причины отмены бронирования для разработчика"},{"name":"Admin - Feedback","description":"API - Отзывы для админа"},{"name":"Admin - Table","description":"API столов для админа"},{"name":"Client - Client","description":"API для работы с клиентом для клиента"},{"name":"SuperAdmin - Promo","description":"API - Промокоды для супер администратора"},{"name":"Client - Feedback","description":"API - Отзывы для клиента"},{"name":"Guest - Table","description":"API столов для гостя"},{"name":"Client - Table","description":"API столов для клиента"},{"name":"Developer - Booking","description":"API Категорий бронирование для разработчика"},{"name":"Client - Booking","description":"API Бронирования для клиента"},{"name":"Admin - Menu","description":"API Меню заведения для администратора"},{"name":"Developer - Cuisine","description":"API типа кухни для разработчика"}],"paths":{"/api/super-admin/update-personal/{adminId}":{"put":{"tags":["SuperAdmin - SuperAdmin"],"summary":"Обновить администратора по айди","description":"Авторизация: Для Супер администраторов","operationId":"updatePersonal","parameters":[{"name":"adminId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePersonalRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin-venue/update-public-admin-in-venue/{venueId}":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Обновить публичного администратора в заведении при обновлении","description":"Авторизация: супер администратор","operationId":"updatePublicAdmin","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePublicAdminRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin-venue/update-name-and-description/{venueId}":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Обновить описании заведении при обновлении","description":"Авторизация: супер администратор","operationId":"updateDescription","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"description","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin-venue/payment/update-payment-detail/{paymentId}":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Обновить платёжные реквизиты","description":"Авторизация: доступно только для суперадминистратора. Обновляет данные существующих платёжных реквизитов.","operationId":"updatePaymentDetail","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDetailRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin-venue/delete-image-in-venue/{venueId}/{imageId}":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Удалить фото в заведении при обновлении","description":"Авторизация: Супер администратор","operationId":"deleteImageById","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"imageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin-venue/add-venue-details":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Добавить заведения 2-этап детали","description":"Авторизация: Для Супер администраторов","operationId":"add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueAssignDetailsRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/super-admin-venue/add-or-update-venue-hour":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Добавить заведения или обновить 3-этап время работы","description":"Эгер кайсы кун иштебесе ошол кунго 00:00 деп толтуруш керек Авторизация: Для Супер администраторов и администраторов","operationId":"add_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoursAssignRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/super-admin-venue/add-or-update-venue-cuisines":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Добавить заведения или обновить 4-этап тип кухни","description":"Авторизация: Для Супер администраторов и администраторов","operationId":"add_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CuisinesAssignRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/super-admin-venue/add-or-update-venue-contact":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Добавить заведения или обновить 6-этап контакты","description":"Авторизация: Для Супер администраторов и администраторов","operationId":"add_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsAssignRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/super-admin-venue/add-or-update-venue-condition":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Добавить заведения или обновить 7-этап условия бронирование","description":"Авторизация: Для Супер администраторов и администраторов если не принимает дайте 00:00","operationId":"add_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingConditionsRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/super-admin-venue/add-or-update-venue-amenities":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Добавить заведения или обновить 5-этап услуги и удобства","description":"Авторизация: Для Супер администраторов и администраторов","operationId":"add_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueAmenitiesAssignRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/super-admin-venue/add-image-in-venue/{venueId}":{"put":{"tags":["SuperAdmin - Venue"],"summary":"Добавить фото в заведении при обновлении","description":"Авторизация: супер администратор","operationId":"addImageForVenue","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/guest-venue/getAllVenuesByCuisineId/{cuisineId}":{"put":{"tags":["Guest - Venue"],"summary":"Получить все заведения по идентификатору кухни","operationId":"getAllVenuesByCuisine","parameters":[{"name":"cuisineId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":6}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetAllVenuesByCuisineResponse"}}}}}}}},"/api/dev/reason/update{id}":{"put":{"tags":["Developer - Reason"],"summary":"Обновить причины отмены по ID","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/notification-type/update{id}":{"put":{"tags":["Developer - Notification"],"summary":"Обновить типы уведомлении по ID","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"templateForClient","in":"query","required":true,"schema":{"type":"string"}},{"name":"templateForAdmin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/event-type/update{id}":{"put":{"tags":["Developer - Event Type"],"summary":"Обновить виды мероприятия для столов по ID","description":"Авторизация: Для девелоперов","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/e-table-type/update{id}":{"put":{"tags":["Developer - Table Type"],"summary":"Обновить тип стола по ID","operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/e-table-amenities/update{id}":{"put":{"tags":["Developer - Table Amenities"],"summary":"Обновить услуги и удобства для стола по ID","operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/cuisine/update{id}":{"put":{"tags":["Developer - Cuisine"],"summary":"Обновить тип кухни по ID","operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/city/update{id}":{"put":{"tags":["Developer - Cuisine"],"summary":"Обновить город по ID","operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/category/update{id}":{"put":{"tags":["Developer - Category"],"summary":"Обновить категории по ID","operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/amenities/update{id}":{"put":{"tags":["Developer - Venue Amenities"],"summary":"Обновить услуги и удобства по ID","description":"Авторизация: Для девелоперов","operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client/replace-city/{cityId}":{"put":{"tags":["Client - Client"],"operationId":"replaceCity","parameters":[{"name":"cityId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client/edit":{"put":{"tags":["Client - Client"],"operationId":"editClientProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientProfileRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-venue/favourite-un-favourite/{venueId}":{"put":{"tags":["Client - Venue"],"summary":"Добавить/удалить избранное заведения","operationId":"favouriteUnFavourite","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-notification/delete-notification/{id}":{"put":{"tags":["Client - Notification"],"summary":"Очистить уведомлении по айди","operationId":"deleteNotificationById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-notification/delete-all-notification":{"put":{"tags":["Client - Notification"],"summary":"Очистить все уведомлении","operationId":"deleteAllNotification","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-menu/favourite-un-favourite/{menuId}":{"put":{"tags":["Client - Menu"],"summary":"Добавить/удалить избранное меню","operationId":"favouriteUnFavourite_1","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-feedback/update/{feedbackId}":{"put":{"tags":["Client - Feedback"],"summary":"Обновить отзыв","operationId":"updateFeedback","parameters":[{"name":"feedbackId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackAddOrUpdateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-booking/cancel/{bookingId}":{"put":{"tags":["Client - Booking"],"summary":"Отменить бронирование по айди","operationId":"cancelBookingById","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-booking/cancel-reason/{reasonId}":{"put":{"tags":["Client - Booking"],"summary":"Указать причина отмены после отмены","operationId":"addReasonToCancelBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonAddOrChooseRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-venue/update-public-admin-in-venue":{"put":{"tags":["Admin - Venue"],"summary":"Обновить публичного администратора в заведении при обновлении","operationId":"updatePublicAdmin_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePublicAdminRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-venue/update-name-and-description":{"put":{"tags":["Admin - Venue"],"summary":"Обновить описании заведении при обновлении","operationId":"updateDescription_1","parameters":[{"name":"description","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-venue/delete-image-in-venue/{imageId}":{"put":{"tags":["Admin - Venue"],"summary":"Удалить фото в заведении при обновлении","operationId":"deleteImageById_1","parameters":[{"name":"imageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-venue/add-or-update-venue-hour":{"put":{"tags":["Admin - Venue"],"summary":"Добавить заведения или обновить 3-этап время работы","description":"Эгер кайсы кун иштебесе ошол кунго 00:00 деп толтуруш керек","operationId":"add_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoursAssignRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/admin-venue/add-or-update-venue-cuisines":{"put":{"tags":["Admin - Venue"],"summary":"Добавить заведения или обновить 4-этап тип кухни","operationId":"add_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CuisinesAssignRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/admin-venue/add-or-update-venue-contact":{"put":{"tags":["Admin - Venue"],"summary":"Добавить заведения или обновить 6-этап контакты","operationId":"add_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsAssignRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/admin-venue/add-or-update-venue-condition":{"put":{"tags":["Admin - Venue"],"summary":"Добавить заведения или обновить 7-этап условия бронирование","description":"Авторизация: Для Супер администраторов и администраторов если не принимает дайте 00:00","operationId":"add_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingConditionsRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/admin-venue/add-or-update-venue-amenities":{"put":{"tags":["Admin - Venue"],"summary":"Добавить заведения или обновить 5-этап услуги и удобства","operationId":"add_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueAmenitiesAssignRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/admin-venue/add-image-in-venue":{"put":{"tags":["Admin - Venue"],"summary":"Добавить фото в заведении при обновлении","operationId":"addImageForVenue_1","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-table/update/{tableId}":{"put":{"tags":["Admin - Table"],"summary":"Обновить стол по айди","operationId":"updateETable","parameters":[{"name":"tableId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-table/update-status-table/{tableId}":{"put":{"tags":["Admin - Table"],"summary":"Изменить статус стола по айди и дату","operationId":"updateStatus","parameters":[{"name":"tableId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"tableStatusActionRequest","in":"query","required":true,"schema":{"type":"string","enum":["OPEN","CLOSE"]}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-table/update-event-types/{tableId}":{"put":{"tags":["Admin - Table"],"summary":"Обновить идеально для в столе по айди","operationId":"updateEventTypes","parameters":[{"name":"tableId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"eventTypeIdsForAssign","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-table/update-et-type/{tableId}":{"put":{"tags":["Admin - Table"],"summary":"Обновить тип стола по айди","operationId":"updateETableType","parameters":[{"name":"tableId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"eTableTypeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-table/update-et-services/{tableId}":{"put":{"tags":["Admin - Table"],"summary":"Обновить услуги в столе по айди","operationId":"updateETService","parameters":[{"name":"tableId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"eTableServiceIdsForAssign","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-promo/update-quick/{promoId}":{"put":{"tags":["Admin - Promo"],"summary":"Обновить быстрое акция по айди","operationId":"updateQuickPromo","parameters":[{"name":"promoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"promotionStartDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"promotionEndDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-promo/update-detailed/{promoId}":{"put":{"tags":["Admin - Promo"],"summary":"Обновить подробное акция по айди","operationId":"updateDetailed","parameters":[{"name":"promoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"promoType","in":"query","required":true,"schema":{"type":"string","enum":["DISCOUNT","SPECIAL_OFFER","READY"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoUpdateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-promo/replace-image/{promoId}":{"put":{"tags":["Admin - Promo"],"summary":"Обновить фото акции по айди","operationId":"updateImage","parameters":[{"name":"promoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newUrl","in":"query","required":true,"schema":{"type":"string"}},{"name":"oldUrl","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-menu/updateMenu/{menuId}":{"put":{"tags":["Admin - Menu"],"summary":"Позволяет обновить меню по его Id","operationId":"updateMenu","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrUpdateMenuRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-menu/replace-status/{menuId}":{"put":{"tags":["Admin - Menu"],"summary":"Изменить статус меню","operationId":"replaceStatus","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["ACTIVE","INACTIVE","DELETED","IN_MODERATION","PUBLIC","BLOCKED"]}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-booking/assign-table-to-booking/{bookingId}/{tableId}":{"put":{"tags":["Admin - Booking"],"summary":"Назначить стол на бронирование","description":"Привязывает определенный стол к бронированию по его ID.","operationId":"assign","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/admin-booking/accept-or-reject/{bookingId}":{"put":{"tags":["Admin - Booking"],"summary":"Принять или отклонить бронирование","description":"Позволяет принять (true) или отклонить (false) бронирование по ID.","operationId":"acceptOrReject","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"action","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin/replace-admin/{venueId}/{newAdminId}":{"post":{"tags":["SuperAdmin - SuperAdmin"],"summary":"Заменить или назначить администратора в заведении","description":"Авторизация: Для Супер администраторов","operationId":"replace","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newAdminId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin/add-personal-verify-email":{"post":{"tags":["SuperAdmin - SuperAdmin"],"summary":"Подтвердить OTP при добавление персонала","description":"Авторизация: Для Супер администраторов","operationId":"addNewAdminVerify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin/add-personal-email":{"post":{"tags":["SuperAdmin - SuperAdmin"],"summary":"Добавить персонал и получить OTP","description":"Авторизация: Для Супер администраторов","operationId":"addNewAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddNewPersonalRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin-venue/payment/add-payment-detail/{venueId}":{"post":{"tags":["SuperAdmin - Venue"],"summary":"Добавить новые платёжные реквизиты","description":"Авторизация: доступно только для суперадминистратора. Добавляет новые платёжные реквизиты к указанному заведению.","operationId":"addPaymentDetail","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDetailRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin-venue/add-basic":{"post":{"tags":["SuperAdmin - Venue"],"summary":"Добавить заведения 1-этап базовый добавления","description":"Авторизация: Для Супер администраторов","operationId":"add_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueCreateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VenueAssignResponse"}}}}}}},"/api/super-admin-promo/quickAddition/{venueId}":{"post":{"tags":["SuperAdmin - Promo"],"summary":"Быстрое добавление акции или скидки","description":"Скидка добавляется через админа или супер админато есть заведению в котором работает данный админ","operationId":"quickAddition","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickAdditionPromoRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/super-admin-promo/detailedAddition/{venueId}":{"post":{"tags":["SuperAdmin - Promo"],"summary":"Подробное добавление акции или скидки","description":"Скидка добавляется через админа или супер админато есть заведению в котором работает данный админ","operationId":"detailedAddition","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"promoType","in":"query","required":true,"schema":{"type":"string","enum":["DISCOUNT","SPECIAL_OFFER","READY"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedAdditionPromoRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/s3":{"get":{"tags":["AWS S3"],"summary":"скачать файл из s3 с помощью ссылки","description":"Авторизация: Все","operationId":"downloadFile","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"post":{"tags":["AWS S3"],"summary":"Загрузка файла в s3","description":"Авторизация: Все","operationId":"uploadFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/S3Response"}}}}}},"delete":{"tags":["AWS S3"],"summary":"удалить файл из s3 с помощью ссылку","description":"Авторизация: Все","operationId":"deleteFile","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HttpResponse"}}}}}}},"/api/guest-venue/search":{"post":{"tags":["Guest - Venue"],"summary":"Поиск заведении с фильтрации","operationId":"searchWithFilter","parameters":[{"name":"word","in":"query","required":false,"schema":{"type":"string"}},{"name":"offset","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":4}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueSearchByFilterRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VenueSearchResponse"}}}}}}}},"/api/guest-venue/check-is-working/{venueId}":{"post":{"tags":["Guest - Venue"],"summary":"Проверить работает ли заведения в указанном время","operationId":"checkIsWorking","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fullVisitTime","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/unit-as-enum/add":{"post":{"tags":["Developer - Unit"],"summary":"Добавить единицы измерения","operationId":"add_12","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/reason/add":{"post":{"tags":["Developer - Reason"],"summary":"Добавить причины отмены","operationId":"add_13","parameters":[{"name":"reason","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/notification-type/add":{"post":{"tags":["Developer - Notification"],"summary":"Добавить типы уведомлении","operationId":"add_14","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationTypeRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/event-type/add":{"post":{"tags":["Developer - Event Type"],"summary":"Добавить виды мероприятия для столов","description":"Авторизация: Для девелоперов","operationId":"add_15","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventTypeCreateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/e-table-type/add":{"post":{"tags":["Developer - Table Type"],"summary":"Добавить тип стола","operationId":"add_16","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableTypeCreateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/e-table-amenities/add":{"post":{"tags":["Developer - Table Amenities"],"summary":"Добавить услуги и удобства для стола","operationId":"add_17","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableServiceCreateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/cuisine/add":{"post":{"tags":["Developer - Cuisine"],"summary":"Добавить тип кухни","operationId":"add_18","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CuisineCreateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/city/add":{"post":{"tags":["Developer - Cuisine"],"summary":"Добавить город","operationId":"add_19","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/category/add":{"post":{"tags":["Developer - Category"],"summary":"Добавить категории меню","operationId":"add_20","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryCreateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/booking/replace-status/{bookingId}":{"post":{"tags":["Developer - Booking"],"summary":"Изменить статус бронирование после проверки чека","operationId":"replaceStatus_1","parameters":[{"name":"action","in":"query","required":true,"schema":{"type":"boolean"}},{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/dev/amenities/add":{"post":{"tags":["Developer - Venue Amenities"],"summary":"Добавить услуги и удобства","description":"Авторизация: Для девелоперов","operationId":"add_21","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueAmenitiesCreateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-venue/search":{"post":{"tags":["Client - Venue"],"summary":"Поиск заведений с фильтрацией","operationId":"searchWithFilter_1","parameters":[{"name":"word","in":"query","required":false,"schema":{"type":"string"}},{"name":"offset","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":4}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueSearchByFilterRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VenueSearchResponse"}}}}}}}},"/api/client-venue/check-is-working/{venueId}":{"post":{"tags":["Client - Venue"],"summary":"Проверить работает ли заведения в указанном время","operationId":"checkIsWorking_1","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fullVisitTime","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-table/booking/{tableId}":{"post":{"tags":["Client - Table"],"summary":"Бронировать стол по айди","description":"при успешной создании ответ дает айди созданние бронья","operationId":"booking","parameters":[{"name":"tableId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableGetAllForBookingRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/client-notification/save-fcm-token":{"post":{"tags":["Client - Notification"],"operationId":"saveToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FcmRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/client-feedback/add/{venueId}":{"post":{"tags":["Client - Feedback"],"summary":"Добавить отзыв","operationId":"addFeedBack","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackAddOrUpdateRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/client-conditions/assign-to-booking/{bookingId}":{"post":{"tags":["Client - Booking Conditions"],"operationId":"assignToBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"chequeUrl","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}}}}}},"/api/auth/super-admin/verify-email":{"post":{"tags":["Auth"],"summary":"Регистрация для администраторов Супер админ!","operationId":"verifySuperAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpEmailRequest"}}},"required":true},"responses":{"208":{"description":"Already Reported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/component
[...]
